<% layout("layouts/boilerplate") %>
<!-- copied from btstrap alert  -->
<div class="row">
  <div class="col-6 offset-3"></div>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
    <p class="mb-0">Error status code: <%= err.statusCode %></p>
    <% if (process.env.NODE_ENV !== "production") { %>
    <hr />
    <p><%= err.stack %></p>
    <%}%>
  </div>
</div>
